{% extends 'base.html' %}
{% block title %}Pick Your Survey{% endblock %}

{% block content %}

<section class='container'>
    <h1 class='title'>Choose Your Survey</h1>
    <form action="start" method="POST">
        <select name="picks">
          {% for code, survey in surveys.items() %}
            <option value="{{ code }}">
                {{ survey.title }}
            </option>
          {% endfor %}
        </select>
        <button>Submit</button>
      </form>
</section>

{% endblock %}